<div class="user-details">
    <h2>User Details</h2>
    
    <div class="details">
      <div class="avatar">
        <img src='https://deep-image.ai/_next/static/media/app-info-generator.bf08e63e.webp' alt="User Avatar" alt="User Avatar">
      </div>
  
      <div><strong>ID:</strong> {{ user?.id }}</div>
      <div><strong>Username:</strong> {{ user?.username }}</div>
      <div><strong>Email:</strong> {{ user?.email }}</div>
      <div><strong>Full Name:</strong> {{ user?.fullname }}</div>
    </div>
  
    <div class="actions">
      <button class="btn-delete" >Delete</button>
      <button class="btn-update" >Update</button>
    </div>
  </div>
  